[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "flask run"

[dev-packages]
pytest = "*"

[packages]
Flask = "*"
"requests2" = "*"

[requires]
python_version = "3.7"
